.github-card {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.github-card img {
    border-radius: 1em;
    width: 8vw;
    height: 8vw;
}

.git-prof-details {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.git-prof-details h3 {
    font-size: 1.5em;
    margin-bottom: 0.1em;
}

.git-prof-details h3 a {
    text-decoration: underline;
    color: var(--color-dark);
}

.git-prof-details p {
    padding: 0;
    margin: 0;
}


